body {
background-color: lightpink; 
color: gray;
text-align: center;
font-size: 70px;
     top:100px;
}


ul {
 list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: antiquewhite;
  width: 100%;
  position:absolute;
  top:0;
 
   }
div.sticky{
  color:blue;
  position:sticky;
  background-color: lightpink;
    border: 2px dotted black; 
  max-width: 500px;
  top: 0;
}
.sticky{
  text-align:center;
}
